$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:"../bower_components/font-awesome/fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

/*font*/
@font-face {
  font-family: 'Mobil';
  src: url('Mobil.eot');
  src: local('Mobil Regular'), local('Mobil'),
    url('Mobil.eot?#iefix') format('embedded-opentype'),
    url('Mobil.woff2') format('woff2'),
    url('Mobil.woff') format('woff'),
    url('Mobil.ttf') format('truetype'),
    url('Mobil.svg#Mobil') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf')  format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf')  format('truetype'), url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica-Light.woff') format('woff'), url('../fonts/Helvetica-Light.ttf')  format('truetype'), url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*MISC*/
.clear-10{
    clear: both;
    padding: 5px 0;
}
.clear-20{
    clear: both;
    padding: 10px 0;
}
.clear-30{
    clear: both;
    padding: 15px 0;
}
.clear-40{
    clear: both;
    padding: 20px 0;
}
.clear-50{
    clear: both;
    padding: 25px 0;
}
.clear-60{
    clear: both;
    padding: 30px 0;
}
.clear-80{
    clear: both;
    padding: 40px 0;
}
.clear-interior{
    clear: both;
    position: relative;
    top: 8%;
}
.img-center{
    margin: auto;
    float: none;
}
.no-padding{
    padding: 0;
}
.no-paddingl{
    padding-left: 0;
}
.no-paddingr{
    padding-right: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.border-r{
    border-right: 1px solid #cccccc;
}
.border-l{
    border-left: 1px solid #cccccc;
}
.border-b{
    border-bottom: 1px solid #cccccc;
}
.border-b-light{
    border-bottom: 1px solid #dfdfdf;
}
.trans,
.trans *{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.bg-white{
  background: #fff;
}
.element{
    -webkit-transform: matrix(1.0, 0.0, 0.0, 1.0, 0.00, 0.01);
}
.btn-more{
  font-size: 13px;
  color: #000;
  background: none;
  text-align: center;
  border-radius: 0;
  border: 2px solid #000;
  font-family: 'Mobil', 'Open-sans', sans-serif;
  padding: 5px 20px;
  margin-top: 0;
  margin-bottom: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: #000;
    color: #fff;
  }
}
body{
    font-family: 'Helvetica', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    text-shadow: none;
    font-family: 'Mobil', 'Open-sans';
    font-weight: normal;
}
.logo{
  width: 285px;
  height: 36px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
  display: inline-block;
}
header{
  background: #000000;
  width: 100%;
  .navbar-default{
    background: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    .container-fluid{
      .navbar-brand{
        height: auto;
        padding: 15px 0;
        margin-left: 0;
        h1{
          font-size: 0;
          line-height: 0;
          color: #000;
          margin: 0;
        }
      }
    }
    .navbar-nav{
      li{
        a{
          line-height: 40px;
          color: #fff;
          text-transform: uppercase;
          font-family: 'Mobil', 'Open-sans', sans-serif;
          font-weight: normal;
          font-size: 13px;
          &:hover{
            background: #fff;
            color: #000;
          }
        }
      }
      li.active,
      li.current-menu-item{
        a,
        a:hover,
        a:focus{
          background: #fff;
          color: #000;
        }
      }
    }
  }
  &.sticky{
    position: fixed;
    z-index: 100;
    .logo{
      width: 200px;
      height: 25px;
    }
    .navbar-default {
      .navbar-nav{
        li{
          a{
            font-size: 12px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
.carousel{
  .img-inner{
    position: relative;
    .pattern-slide{
      width: 1386px;
      max-width: 80%;
      background: url(../images/pattern-slide.png) right;
      background-size: 100%;
      background-repeat: repeat-y;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
    }
  }
  .absolute-controls{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: auto;
    margin-left: auto;
    right: auto;
  }
  .carousel-indicators{
    margin: 0;
    width: auto;
    right: auto;
    bottom: auto;
    left: auto;
    top: 100px;
    position: relative;
    z-index: 10;
    li{
      border: 2px solid #c1c1c1;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      display: block;
      margin: 0;
      margin-bottom: 20px;
      position: relative;
      &.active,
      &:hover{
        background: none;
        border-color: #000;
      }
      &.active:before,
      &:hover:before{
        content: "";
        width: 18px;
        height: 18px;
        position: relative;
        display: block;
        top: 4px;
        left: 4px;
        background: #000;
        border-radius: 100%;
      }
      &:after{
        content: "";
        height: 20px;
        width: 2px;
        background: #c1c1c1;
        position: absolute;
        top: 100%;
        margin-top: 2px;
        margin-left: -1px;
      }
    }
    li:last-child:after{
      display: none;
    }
  }
  .carousel-caption{
    position: absolute;
    right: auto;
    left: 0;
    top: 100px;
    bottom: auto;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0;
    z-index: 11;
    h6{
      color: #000;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      font-size: 16px;
      text-shadow: none;
    }
    h2{
      margin: 0;
      color: #000;
      font-size: 34px;
      text-transform: uppercase;
      text-shadow: none;
    }
    p{
      color: #000;
      text-shadow: none;
    }
    .btn-carousel{
      font-size: 13px;
      color: #000;
      background: none;
      text-align: center;
      border-radius: 0;
      border: 2px solid #000;
      font-family: 'Mobil', 'Open-sans', sans-serif;
      padding: 5px 20px;
      margin-top: 5px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
.sections{
  position: relative;
  .nav-categories{
    padding: 0;
    border-bottom: 1px solid #fff;
    li{
      list-style: none;
      display: inline-block;
      margin: 0 6px;
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      a,
      span{
        color: rgba(255,255,255,.5);
        text-transform: uppercase;
        font-family: 'Helvetica-Bold', sans-serif;
        font-size: 11px;
        text-decoration: none;
        padding: 4px 2px;
        display: inline-block;
        border-bottom: 2px solid transparent;
      }
    }
    li.active,
    li:hover{
      a,
      span{
        border-bottom: 2px solid #fff;
        color: rgba(255,255,255,1);
      }
    }
  }
  .bmarg{
    background: #fff;
    margin-bottom: 15px;
  }
  .nav-tabs,
  .tab-comunidad{
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    text-align: center;
    border: none;
    z-index: 2;
    li{
      display: inline-block;
      margin-left: -6px;
      float: none;
      a{
        border: none;
        color: #0065b7;
        background: #FFF;
        text-align: center;
        font-family: 'Mobil', 'Open-sans', sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        border-radius: 0;
        padding: 3px 25px;
        opacity: .5;
        &:hover{
          border: none;
          opacity: 1;
        }
      }
      &.active{
        opacity: 1;
      }
    }
    li.active > a, 
    li.active > a:hover, 
    li.active > a:focus{
      border: none;
      color: #0065b7;
      opacity: 1;
    }
    &.tab-novedades{
      li{
        a{
          color: #f21e27;
        }
      }
      li.active > a, 
      li.active > a:hover, 
      li.active > a:focus{
        border: none;
        color: #f21e27;
        opacity: 1;
      }
    }
  }
  .comunidad{
    background: #005da9 url(../images/bg-comunidad.jpg) no-repeat;
    padding: 100px 0 30px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100%;
    z-index: 1;
    &:before,
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    &:after{
      content:"";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(../images/pattern.png) repeat;
      z-index: 2;
    }
    .container{
      position: relative;
      z-index: 3;
    }
  }
  .novedades{
    background: #df1c24 url(../images/bg-novedades.jpg) no-repeat;
    padding: 100px 0 30px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100%;
    z-index: 1;
    &:before,
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    &:after{
      content:"";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(../images/pattern.png) repeat;
      z-index: 2;
    }
    .container{
      position: relative;
      z-index: 3;
    }
  }
  .productos{
    background: #ececec url(../images/bg-white.jpg) no-repeat;
    padding: 20px 0 100px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100%;
    z-index: 1;
    &:before,
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    &:after{
      content:"";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(../images/pattern.png) repeat;
      z-index: 2;
    }
    .container{
      position: relative;
      z-index: 3;
    }
    h3{
      margin: 0 0 20px;
      text-transform: uppercase;
      font-size: 34px;
    }
    .productos-white{
      background: #fff;
      padding: 30px 0 0 0;
      position: relative;
      z-index: 3;
      margin-bottom: 30px;
      .slick-content{
        .slick-slider{
          margin-bottom: 0;
          .slick-slide{
            h5{
              width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
    h4{
      text-transform: uppercase;
      font-family: 'Mobil', 'Open-sans', sans-serif;
      font-size: 20px;
      margin-bottom: 20px;
    }
    p{
      font-size: 16px;
      font-family: 'Helvetica', sans-serif;
    }

  }
  .text-box{
    background: #fff;
    padding: 15px;
    h6{
      text-transform: uppercase;
      color: #0065b7;
      font-size: 12px;
      margin: 0;
      &:after{
        content: "";
        display: block;
        float: none;
        width: 30px;
        border-bottom: 2px solid #5c5c5c  ;
        margin-top: 8px;
      }
    }
    h3{
      margin: 7px 0 0;
      font-size: 17px;
      color: #000;
      text-transform: uppercase;
    }
    p{
      font-family: 'Helvetica', sans-serif;
    }
    .btn{
      font-size: 13px;
      color: #000;
      background: #fff;
      text-align: center;
      border-radius: 0;
      border: 2px solid #000;
      font-family: 'Mobil', 'Open-sans', sans-serif;
      padding: 5px 20px;
      margin-top: 5px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      &:hover{
        background: #000;
        color: #fff;
      }
    }
  }
  .novedades{
    .text-box{
      h6{
        color: #f21e27;
      }
    }
  }
  .por-que{
    padding: 50px 0 80px;
    background: #f6f6f6;
    h4{
      font-size: 28px;
      text-transform: uppercase;
    }
  }
  .distribuidores{
    background: #f0f0f0 url(../images/bg-distribuidores.jpg) no-repeat;
    padding: 40px 0 30px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-size: 100%;
    z-index: 1;
    &:before,
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    &:after{
      content:"";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url(../images/pattern.png) repeat;
      z-index: 2;
    }
    .container{
      position: relative;
      z-index: 3;
    }
    h3{
      margin: 0 0 20px;
      text-transform: uppercase;
      font-size: 34px;
    }
    .panel-default{
      background: none;
      border:none;
      .panel-heading{
        background: #fff;
        border-radius: 0;
        border: 2px solid #d2d2d2;
      }
      a{
        color: #000;
        .panel-title{
          color: #000;
          font-weight: normal;
          font-family: 'Helvetica', sans-serif;
        }
        &:hover,
        &:active,
        &:focus{
          text-decoration: none;  
        }
        .glyphicon.glyphicon-triangle-bottom{
          display: none;
        }
        .glyphicon.glyphicon-triangle-top{
          display: block;
        }
      }
      a.collapsed{
        .glyphicon.glyphicon-triangle-bottom{
          display: block;
        }
        .glyphicon.glyphicon-triangle-top{
          display: none;
        }
      }
      .panel-body{
        padding: 0 2px;
        margin-top: 10px;
      }
      .head-mo{
        background: #f6f6f6;
        &:before,
        &:after{
          content:"";
          display: block;
          clear: both;
        }
        h6{
          font-size: 14px;
          font-family: 'Helvetica-Bold', sans-serif;
          margin: 0;
          line-height: 45px;
        }
      }
      .body-mo{
        padding: 8px 0;
        display: block;
        clear: both;
        background: #ffffff;
        &:before,
        &:after{
          content:"";
          display: block;
          clear: both;
        }
        p{
          font-family: 'Helvetica', sans-serif;
          font-size: 14px;
          margin: 0;
          line-height: 16px;
        }
        &:nth-child(even){
          background: #fff;
        }
        &:nth-child(odd){
          background: #f6f6f6;
        }
      }
    }
  }
  .singles{
    padding: 40px 15px;
    background: #fff;
    margin-bottom: 40px;
    &:before,
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    .text-box{
      background: none;
      padding: 0;
      .grumpy-image-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 39%;
        border: 2px solid white;
        position: relative;
        overflow: hidden;
        margin: 20px 0;
        img{
          width: 100%;
          position: absolute;
        }
      }
      p{
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        line-height: 18px;
      }
    }
    aside{
      h5{
        margin: 0;
        padding: 15px 0;
        text-transform: uppercase;
        font-size: 18px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
      .new-wrapper{
        max-height: 80px;
        overflow: hidden;
      }
      p,a{
        font-size: 14px;
        margin: 0;
        display: block;
        float: none;
        color: #333333;        
      }
    }
  }
  .comunidad{
    .singles{
      aside{
        h5{
          color: #0065b7;
        }
      }
    }
  }
  .novedades{
    .singles{
      aside{
        h5{
          color: #f21e27;
        }
      }
    }
  }
}
.sections.interiores{
  .comunidad,
  .novedades{
    padding: 30px 0 30px 0;
    background-size: 100%;
  }
  h2{
    color: #fff;
    font-size: 34px;
    margin:  0 0 20px;
  }
  .box{
    background: #fff;
    margin-bottom: 30px;
  }
}
.slick-content{
  position: relative;
  .slick-slider{
    padding: 0;
    margin-bottom: 30px;
    .slick-slide.slide-active:focus,
    .slick-slide:focus{
      outline: 0;
    }
    .slick-slide{
      img{
        position: relative;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      h5{
        display: none;
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-family: 'Helvetica', sans-serif;
        font-size: 16px;
        width: 280px;
        margin-left: -60px;
      }
    }
    .slick-slide.slick-current{
      img{
        position: relative;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      h5{
        display: block;
        -webkit-filter: blur(0px);
        filter: blur(0px);
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
    }
  }
  .arrows{
    position: absolute;
    top: 40%;
    width: 100%;
    span{
      display: block;
      cursor: pointer;
    }
    .left{
      position: absolute;
      left: 0;
      top: 50%;
      width: auto;
    }
    .right{
      position: absolute;
      right: 0;
      top: 50%;
      width: auto;
    }
    .fa{
      color: #000;
    }
  }
}
.why{
  p{
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }
}
/*iconos*/
.ico-kilometros{
  background: url(../images/ico-kilometros.png) no-repeat center;
  background-size: 100%;
  width: 62px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}
.ico-motor{
  background: url(../images/ico-motor.png) no-repeat center;
  background-size: 100%;
  width: 62px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}
.ico-camion{
  background: url(../images/ico-camion.png) no-repeat center;
  background-size: 100%;
  width: 62px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}
.ico-proteccion{
  background: url(../images/ico-proteccion.png) no-repeat center;
  background-size: 100%;
  width: 51px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.ico-emisiones{
  background: url(../images/ico-emisiones.png) no-repeat center;
  background-size: 100%;
  width: 70px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.ico-lubricate{
  background: url(../images/ico-lubricate.png) no-repeat center;
  background-size: 100%;
  width: 74px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.ico-expertos{
  background: url(../images/ico-expertos.png) no-repeat center;
  background-size: 100%;
  width: 66px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.ico-combustible{
  background: url(../images/ico-combustible.png) no-repeat center;
  background-size: 100%;
  width: 45px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.ico-drenado{
  background: url(../images/ico-drenado.png) no-repeat center;
  background-size: 100%;
  width: 76px;
  height: 59px;
  display: block;
  margin: 10px auto 20px;
}
.news-zone{
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #dfdfdf;
  background: #f6f6f6;
  font-family: 'Helvetica', sans-serif;
  p{
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
  }
  .form-control{
    border-radius: 0;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-shadow: none;
    font-size: 16px;
    &:hover,
    &:focus,
    &:active{
      outline: 0;
      box-shadow: none;
    }
  }
  .btn{
    border-radius: 0;
    width: 100%;
    border:2px solid #000;
    background: #fff;
    color: #000;
    font-family: 'Helvetica-Bold', sans-serif;
    padding: 9px 16px;
    &:hover,
    &:focus,
    &:active{
      outline: 0;
      box-shadow: none;
      background: #000;
      color: #fff;
    }
  }
}

h2{
  font-size: 28px;
  color: #000;
  text-transform: uppercase;
}
.bread-content{
  .breadcrumb {
    margin: 0;
    background: none;
     li + li:before{
      content:"/";
      color: #000;
     }
     li{
      i{
        font-weight: bold;
        font-size: 12px;
      }
      a{
        color: #000;
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
      }
      a:hover,
      a:focus,
      a:active{
        color: #000;
      }
     }
    span{
      color: #000;
      font-family: 'Helvetica', sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
      a{
        font-weight: normal;
        color: #000;
        font-family: 'Helvetica', sans-serif;
        font-size: 12px;
        font-style: normal;
      }
    }
  }
}
/*paginacion*/
.pagination {
  li{
    border: none;
    a,
    span{
      border: none;
      margin: 0 1px;
      padding: 9px 17px;
      background: #fff;
      color: #000;
      font-size: 17px;
      font-family: 'Mobil', 'Open-sans', sans-serif;
    }
  }
  li.active,
  li:hover{
    background: none;
    a,
    span{
      background: #000;
      color: #fff;
    }
  }
  li.active:hover,
  li.active:active,
  li.active:focus{
    background: none;
    a,
    span{
      background: #000;
      color: #fff;
    }
  }
  li:first-child,
  li:last-child{
    background: none;
    a,
    span{
      border-radius: 0;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      margin: 0 1px;
    }
  }
}

/*footer*/
footer{
  background: #000;
  width: 100%;
  .navbar-default{
    background: none;
    border-radius: 0;
    border: none;
    margin: 0;
  }
  .container-fluid{
    padding: 15px 0;
  }
  h1{
    font-size: 0;
    line-height: 0;
    color: #000;
    margin: 0;
  }
  .logo{
    width: 207px;
    height: 27px;
  }
  .navi{
    padding-top: 5px;
    margin-bottom: 0;
    li{
      list-style: none;
      display: inline-block;
      a{
        line-height: 40px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Mobil', 'Open-sans', sans-serif;
        font-weight: normal;
        font-size: 13px;
        padding: 0 15px;
      }
      &:last-child a{
        padding-right: 0;
      }
    }
  }
  p{
    color: #808080;
    font-size: 11px;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 0;
  }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  header{
    .logo {
      background: url(../images/logo@2x.png) no-repeat;
      background-size: contain;
    }
  }
  footer{
    .logo {
      background: url(../images/logo@2x.png) no-repeat;
      background-size: contain;
    }
  }
  .ico-kilometros{
    background: url(../images/ico-kilometros@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-motor{
    background: url(../images/ico-motor@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-camion{
    background: url(../images/ico-camion@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-proteccion{
    background: url(../images/ico-proteccion@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-emisiones{
    background: url(../images/ico-emisiones@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-lubricate{
    background: url(../images/ico-lubricate@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-expertos{
    background: url(../images/ico-expertos@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-combustible{
    background: url(../images/ico-combustible@2x.png) no-repeat center;
    background-size: contain;
  }
  .ico-drenado{
    background: url(../images/ico-drenado@2x.png) no-repeat center;
    background-size: contain;
  }
}
@media screen and (max-width: 1199px) {
  .logo{
    width: 230px;
    height: 29px;
  }
}

@media screen and (max-width: 991px) {
  header{
    .navbar-default{
     .container-fluid{
      .navbar-header{
        float: none;
        text-align: center;
      }
      .navbar-brand{
        float: none;
        margin: 15px auto 0;
        display: inline-block;
        padding: 0;
      }
      .navbar-right{
        float: none!important;
        text-align: center;
      }
      .navbar-nav{
        li{
          display: inline-block;
          float: none;
        }
      }
     }
    }
  }
}

@media screen and (max-width: 767px) {
  header{
    .logo{
      width: 200px;
      height: 25px;
    }
    .navbar-default .navbar-toggle{
      margin-right: 0;
      border: none;
      margin-top: 12px;
      border-radius: 0;
      .icon-bar{
        background: #fff;
      }
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
      background: #fff;
      .icon-bar{
        background: #000;
      }
    }
    .navbar-default {
      .navbar-nav{
        li {
          a{
            line-height: 34px;
            &:focus{
              color: #000;
            }
          }
        }
        li.active{
          a,
          a:hover,
          a:focus{
            background: #fff;
            color: #000;
          }
        }
      }
      .container-fluid{
        .navbar-brand{
          float: left!important;
        }
        .navbar-nav{
          li{
            display: block;
            float: none;
          }
        }
      }
    }
  }
  .slick-content {
    .slick-slider {
      .slick-slide {
        h5{
          margin: 0;
          width: auto;
        }
      }
    }
  }
  .sections {
    .nav-categories{
      text-align: center;
      float: none!important;
      li{
        display: inline-block;
      }
    }
    .nav-tabs, 
    .tab-comunidad{
      padding: 0 15px;
      li{
        width: 50%;
        display: block;
        float: left;
        margin: 0;
        a{
          font-size: 20px;
          padding: 5px 0;
          text-align: center;
        }
      }
      &:before,
      &:after{
        content: "";
        display: block;
        clear: both;
      }
    }
    .comunidad,
    .novedades{
      padding: 50px 0 30px 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .bmarg{
      margin-bottom: 0;
      margin-top: 15px;
    }
    .singles{
      .text-box {
        .grumpy-image-wrapper{
          height: auto;
          padding: 0;
          img{
            position: relative;
          }
        }
      }
      aside {
        margin-top: 30px;
        .new-wrapper{
          max-height: inherit;
          overflow: hidden;
          margin-bottom: 10px;
        }
      }
    }
  }
  .news-zone{
    .btn {
      padding: 9px 4px;
      min-height: 46px;
      font-size: 14px;
    }
  }
  .carousel{
    .carousel-caption{
      position: relative;
      top: 20px;
    }
    .absolute-controls{
    }
    .carousel-indicators{
      top: 20px;
    }
    .carousel-inner{
      .item{
        height: auto!important;
        padding-bottom: 50px
      }
    }
  }
  .carousel.carousel-on{
    display: block;
  }
  .equals-height.border-l{
    border: none;
  }
  footer{
    .navbar-default .navbar-brand{
      width: 100%;
      float: none;
    }
    h1{
      width: 100%;
    }
    .logo{
      margin: 0 auto;
      display: block;
    }
    .navi{
      padding-left: 0;
      text-align: center;
      ul{
        padding: 0;
      }
      li{
        display: block;
      }
      li:last-child{
        a{
          padding: 0 15px;
        }
      }
    }
    p{
      text-align: center;
      margin: 10px 0;
    }
  }
}
